* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: "Roboto", sans-serif;
}
.wraper {
 width: 1110px;
 margin: auto;
}
.header {
 padding-top: 38px;
}
.logo {
 float: left;
 text-decoration: none;
 font-family: "Open Sans", sans-serif;
 font-size: 14px;
 text-transform: uppercase;
 color: #0f0101;
 font-weight:bold;
}
.logo::before{
 content: "M";
 color: #4ec6ab;
}
.menu {
 float: right;
}

.menu_link {
 float: right;
 list-style-type: none;
 margin-left: 32px;
}
.menu_link:first-child {
 float: left;
 margin-left: 0px;
}

.menu_link a {
 text-decoration: none;
 font-family: "Open Sans", sans-serif;
 font-size: 14px;
 text-transform: uppercase;
 color: #0f0101;
 font-weight:bold;
}
.menu_link a:hover {
 color: #4ec6ab;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
}
.products {
 margin: 108px 0px 105px 0px;
}
.products_title {
 font-size: 48px;
 text-align: center;
}
.products_title::after {
 content: "";
 height: 7px;
 width: 164px;
 background-color: #1abc9c;
 display: block;
 margin: 32px auto 92px;
}
.products_one{
 width: 255px;
 float: left;
 margin-right: 26px;
 font-size: 0px; 
}
.products_one:nth-child(4n) {
 margin-right: 0px;
}
.products_one:nth-child(n + 5) {
margin-top: 30px;
}
.products_name {
width: 205px;
font-size: 18px;
color: #ffffff;
background-color: #323232;
float: left;
text-transform: uppercase;
line-height: 40px;
}
.products_name p{
 margin-left: 14px ;
} 
.products_link:hover .products_name  {
background-color: #1abc9c;
}
.products_link:hover .products_price {
background-color: #7fd9c7;
}
.products_price {
background-color: #8c8c8c;
color: #ffffff;
font-size: 18px;
width: 50px;
float: right;
text-align: center;
line-height: 40px;

}
.news_title {
font-size: 48px;
text-align: center;
margin: 105px 0px 80px 0px;
}
.news_title::after {
content: "";
height: 7px;
width: 164px;
background-color: #1abc9c;
display: block;
margin: auto;
}
.news_one {
width: 350px;
float: left;
}
.news_heading::after {
content: "";
height: 3px;
width: 136px;
margin-top: 15px;
background-color: #1abc9c;
display: block;
}

.news_heading {
font-family: "Open Sans", sans-serif;
font-size: 18px;
margin-bottom: 29px;
}
.news_article {
font-family: "Open Sans", sans-serif;
font-size: 14px;
}
.read_more {
padding: 18px 42px;
background-color: #4ec6ab;
margin: 20px 0px 82px 0px;
border-radius: 5px;
border-color: #4ec6ab;
}
.read_more_link {
color: #ffffff;
text-decoration: none;
}
.news_one {
margin-right: 30px;
}
.news_one:last-child {
margin-right: 0px;
}

