* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.clearfix::after {
    content: "";
    display: table;
    clear: both;
   }
.wrapper {
width: 1110px;
margin: auto;
}   
.header{
    margin-top: 38px;
    margin-bottom: 40px;
}
.logo{
    float: left;
    text-decoration: none;
    color: #555252;
    text-transform: uppercase;
    font-family:  Roboto,'Open Sans',sans-serif;
    font-weight:light;
}
.logo::before{
    content: "M";
    color: #1abc9c;
    font-weight: bold;

}
.header-menu{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-menu-links{
    float: left;
    margin-left: 36px;
}
.header-menu-link{
    font-family: "open sans",sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #0f0101;
    font-weight: bold;
    text-transform: uppercase;
}
.header-menu-link:hover{
    color: #1abc9c;
}
.slider-background {
background-image: url(../img/slide.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
position: relative;
z-index: 1;
}
.slider-color{
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.slider{
    float: left;
    margin-top: 225px;
    margin-bottom: 271px;
    width: 100%;
}
.slider-button{
    float: left;
    width: 105px;
    height: 105px;
    background-color: #509d8b;
    border: none;
}
.slider-button a {
    text-decoration: none;
    font-size: 70px;
    color: #ffffff;
    display: block;
    height: 100%;
}
.slider-info{
    float: left;
    margin-left: 80px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
   }
.slider-titel{
    font-size: 60px;
    color: #ffffff;
    font-family: roboto, "open sans",sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
.slider-description{
    font-size: 24px;
    color: #ffffff;
    font-family: roboto, "open sans",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.slider-button:last-child{
    float: right;
}
.collection{
    text-align: center;
    background-color: #e9f0fd;
    width: 100%;
    padding-bottom: 100px;
}
.collection-titel{
    font-family: roboto, "open sans", sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #515151;
    padding-top: 100px;
    margin-bottom: 120px;
}
.collection-titel::after{
    content: "";
    background-color: #1abc9c;
    width: 162px;
    height: 7px;
    display: block;
    margin: 32px auto 80px;
}
.collection-list{
    list-style: none;
}
.collection-card{
    display: inline-block;
    width: 255px;
    margin: 0 15px;
}
.collection-card img{
    width: 100%;
}
.collection-card-info{
    position: relative;
}
.collection-card-name{
    padding-left: 14px;
    width: 201px;
    text-align: left;
    background-color: #323232;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 40px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 18px;
}
.collection-card-price{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 54px;
    background-color: #8c8c8c;
    font-size: 18px;
    line-height: 40px;
}


.collection-card:hover .collection-card-name{
    background-color: #1abc9c;
}
.collection-card:hover .collection-card-price{
    background-color: #7fd9c7;
}
.collection-card:hover .collection-card-hover{
    z-index: 1;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.collection-card-hover{
    width: 235px;
    height: 265px;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}
.collection-card-social{
    margin-top: 80px;
    width: 166px;
    display: inline-block;
}
.collection-card-social button{
    display: inline-block;
    width: 50px;
    height: 50px; 
    padding: 0;
    border: 1px solid #ffffff;
    background-color:transparent; 
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}
.collection-card-social button:hover{
    background-color: #1abc9c;
}
.collection-card-button{
    width: 166px;
    height: 50px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    background-color: #323232;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    margin-top: 6px;
}
.collection-card-like{
    margin-right: 4px;
}
.collection-card-mix{
    margin-right: 4px;
}
.footer{
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #323232;
}
.quote{
    display: inline-block;
    font-size: 16px;
    font-family: "open sans",sans-serif;
    line-height: 88px;
}
.footer-author{
    color: #46bfa9;
}
.footer-designed-c{
    color: #ffffff;
}
