.header {
    background-color: #ffffff;
}
.header-menu{
    padding: 77px 0 104px 313px;
    margin: 0;
}
.header-menu-li{
    display: inline-block;
    margin-right: 121px;
}
.header-menu-link {
    font-family: playfair display;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}
.block {
    display: inline-block;
    width: 420px;
}
.main {
    width: 900px;
    padding-left: 150px;
}