.header {
    background-color: #ffffff;
}
.header-menu{
    padding: 77px 0 104px 313px;
    margin: 0;
}
.header-menu-li{
    display: inline-block;
    margin-right: 121px;
}
.header-menu-link {
    font-family: playfair display;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}
.block {
    display: inline-block;
    width: 420px;
    
}
.block:nth-last-of-type(2n){
    padding-right: 60px;
}
.main {
    padding-left: 150px;
    width: 900px;
    font-size: 0px;
}
.footer-button {
    margin: 57px 0 71px 575px;
    height: 60px;
    width: 164px;
    background-color: #ffffff;
    border: #626262 outset 1px ;

}
.footer-link {
    font-size: 20px;
    font-family: playfair display;
    text-decoration: none;
    color: #626262;
}
.block-commit{
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}
.block-titel{
    color: #626262;
    font-size: 30px;
}
.block-text{
    color: #626262;
    font-size: 14px;
}
.header-menu-link:hover {
    color: #03a9f4;
}
.footer-link:hover {
    color: #03a9f4;
}
